* {
    box-sizing: border-box;
}
.modal-wrap {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 450px;
    height: 200px;
    margin:10% auto;
    padding: 10px;
    background-color:#f7f7f7;
    border:1px solid #272727;

}
.labels {
    width: 200px;
}
.inputs {
    width: 220px;
}
.modal-close {
    position: absolute;
    right: -20px;
    top: -20px;
    width:40px;
    height: 40px;
    outline: none;
    font-size: 0;
    border:none;
    background-image: url(..//img/CloseIcon_40.png);
    background-color: transparent;
}
.ent {
    width: 80px;
    height: 30px;
    border: 1px solid #5a5a5a;
    border-radius:3px;
    background-image:linear-gradient(#ffffff, #cccccc);
    outline: none;
}
.hide {
    display: none;
}