#slider{
    width: 720px;
    height: 240px;
    margin:50px auto;
    border:1px solid #ccc;
    overflow: hidden;
}
#polosa{
    display:flex;
    flex-wrap: nowrap;
    position: relative;
    left:0;
    transition: all ease 1s;
}
#polosa img{
    
}

#test{
    width: 150px;
    height: 150px;
    background: orange;
    margin:30px;
}
#out{
    width: 500px;
    height: 150px;
    margin: 20px;
    font-size: 17px;
}
#modal {
    width: 200px;
    height: 50px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin:10px auto;
    box-shadow: 1px 1px 5px 0px #ccc;
   
}
span{
    font-weight: bold;
    color: red;
}
button:hover {
    cursor:pointer;
}
* {
    margin:5px;
}


.block{
    width: 150px;
    height: 150px;
    display:inline-block;
    background: bisque;
    margin: 50px;
    user-select: none;  /*Отменяем выделение текста при двойном щелчке */
}
.wrap{
    position: relative;
    display:inline-block;
}

.menu{
    display: none;
    position: absolute;
    top:10px;
    left: 200px;
}

.flex{
    display:flex;
    justify-content: center;
}
li{
    list-style: none;
}
.tabs{
    border: 1px solid #777;
    padding: 10px;
    margin: 50px;
}
.active{
    font-weight: bold;
}
.tab{
    padding:5px 10px;
}
.tab:hover{
    cursor:pointer;
}

.line{
    border:1px solid #c0c0c0;
    padding:15px;
    margin:10px;
}
.sq{
    width: 50px;
    height: 50px;
    background-color:#ccc;
    border:1px solid #000;
}

/* +++++++++++++++РАБОТАЕМ С CSS++++++++++ */

.block {
    width: 150px;
    height: 150px;
    background: bisque;
    border: 1px solid #666;
}
.red {
    border:2px solid  red;
}
.green {
    background: green;
}
main {
    position: relative;
    margin: 0 auto;
}
#registration {
    position: absolute;
    top:20%;
    left: calc(50% - 350px);
    display:none;
    width: 500px;
    padding: 100px;
    background-color: #cccccc;
}
#registration label {
    display:inline-block;
    width: 280px;
    padding:3px;
    margin:5px;
}
#registration input {
    width: 150px;
    padding:3px;
    margin:5px;
}

#registration .close {
    position: absolute;
    top: -16px;
    right: -16px;
}
img {
    width: 100%;
    margin: 0px;
}